<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Creative Mail</title>
    <link rel="stylesheet" type="text/css" href="EmailCss/style.css">
</head>
<body class="">
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body"
       style="background-image: url('https://www.zupimages.net/up/19/49/nk2o.png');background-size: 100%;background-position: center;background-repeat: no-repeat;width: 100%;">
    <tr>
        <td class="container">
            <div class="content">
                <!-- START CENTERED WHITE CONTAINER -->
                <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
                    <tbody>
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="600" id="template_container"
                                   style="background-color:#ffffff;border:1px solid #dedede;border-radius:3px">
                                <tbody>
                                <tr>
                                    <td align="center" valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="600"
                                               style="background-color:#ED1C24;color:#ffffff;border-bottom:0;font-weight:bold;line-height:100%;vertical-align:middle;border-radius:3px 3px 0 0">
                                            <tbody>
                                            <tr>
                                                <td id="" style="padding:36px 48px;display:block">
                                                    <h1 style="font-size:30px;font-weight:300;line-height:150%;margin:0;text-align:center;color:#ffffff">
                                                        Felicitation pour votre première Prestation</h1>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="600"
                                               id="template_body">
                                            <tbody>
                                            <tr>
                                                <td valign="top" id="body_content" style="background-color:#ffffff">
                                                    <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                        <tbody>
                                                        <tr>
                                                            <td valign="top" style="padding:48px 48px 32px">
                                                                <div id="body_content_inner"
                                                                     style="color:#636363;font-size:14px;line-height:150%;text-align:left">
                                                                    <p style="margin:0 0 16px">Bonjour {{ name }},
                                                                        <br>Vous avez crée votre première prestation
                                                                        nommée {{ service_title }}.
                                                                        <br>Tout les actions sur les prestations ce
                                                                        passe dans votre profile.
                                                                    </p>
                                                                    <h4 style="color:#ED1C24;display:block;font-size:18px;font-weight:bold;line-height:130%;margin:0 0 18px;text-align:left">
                                                                        Informations important:
                                                                    </h4>
                                                                    <ul style="font-style: italic">
                                                                        <li>Fixer votre frais de deplacement global dans
                                                                            la rubrique mes prestation.
                                                                        </li>
                                                                        <li>Si votre frais de deplacement varie par
                                                                            rapport a votre prestation, vous pouvez le
                                                                            modifier en editant votre prestation dans la
                                                                            rubrique mes prestations.
                                                                        </li>
                                                                        <li>Choisissez la politique de remboursement qui
                                                                            vous correspond au mieux dans la rubrique
                                                                            politique de remboursement.
                                                                        </li>
                                                                        <li>Toutes vos historiques de reservation se
                                                                            trouve dans la rubrique paiements &
                                                                            reservations dans la sous rubriques les
                                                                            demandes de reservation.
                                                                        </li>
                                                                        <li>Pour vos remboursement, vauillez nous
                                                                            renseigner sur votre coordonnées bancaire
                                                                            dans la rubrique coordonnées bancaires.
                                                                        </li>
                                                                        <li>Gerer vos disponibilité dans la rubrique
                                                                            gestion de calendrier.
                                                                        </li>
                                                                    </ul>
                                                                    <br>
                                                                    <p style="margin:0 0 16px">Pour plus de détails,
                                                                        vous pouvez nous contacter sur :
                                                                        <a href="mailto:independancesoundlabel@gmail.com"
                                                                           target="_blank">independancesoundlabel@gmail.com</a>
                                                                    </p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- END CENTERED WHITE CONTAINER -->

                <!-- START FOOTER -->
                {% include "Mail/footer.html" %}
                <!-- END FOOTER -->
            </div>
        </td>
    </tr>
</table>
</body>
</html>
