<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<div align="center" class="footer" style="margin-top: 10px; margin-bottom: 10px">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td class="content-block" style="text-align: center">
                <span class="apple-link">Isl Creative, 15 chemin des charmilles, Moissy-Cramayel 77550</span>
            </td>
        </tr>
        <tr>
            <td class="content-block" style="text-align: center">
                <span class="apple-link">Ceci est un email automatique.</span>
            </td>
        </tr>
        <tr>
            <td class="content-block powered-by" style="text-align: center">
                <span>Powered by ISL Groups</span>
{#                <span>#}
{#                    Copyright &copy; <script type="text/javascript">document.write(new Date().getFullYear())</script>#}
{#                </span>#}
            </td>
        </tr>
    </table>
</div>
</body>
</html>