<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Creative Mail</title>
    <link rel="stylesheet" type="text/css" href="EmailCss/style.css">
</head>
<body class="">
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body" style="background-image: url('https://www.zupimages.net/up/19/49/nk2o.png');background-size: 100%;background-position: center;background-repeat: no-repeat;width: 100%;">
    <tr>
        <td class="container">
            <div class="content">
                <!-- START CENTERED WHITE CONTAINER -->
                <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
                    <tbody>
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="600" id="template_container" style="background-color:#ffffff;border:1px solid #dedede;border-radius:3px">
                                <tbody>
                                <tr>
                                    <td align="center" valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="600" style="background-color:#ED1C24;color:#ffffff;border-bottom:0;font-weight:bold;line-height:100%;vertical-align:middle;border-radius:3px 3px 0 0">
                                            <tbody>
                                            <tr>
                                                <td id="" style="padding:36px 48px;display:block">
                                                    {% if user_type == 'customer' %}
                                                    <h1 style="font-size:30px;font-weight:300;line-height:150%;margin:0;text-align:center;color:#ffffff">Le paiement de votre commande a été décliné, ref&nbsp; {{ data.reference }}</h1>
                                                    {% elif user_type == 'admin' %}
                                                    <h1 style="font-size:30px;font-weight:300;line-height:150%;margin:0;text-align:left;color:#ffffff">Un payement a été réfusé, dont la référence&nbsp; {{ data.reference }}</h1>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="600" id="template_body">
                                            <tbody>
                                            <tr>
                                                <td valign="top" id="body_content" style="background-color:#ffffff">
                                                    <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                        <tbody>
                                                        <tr>
                                                            <td valign="top" style="padding:48px 48px 32px">
                                                                <div id="body_content_inner" style="color:#636363;font-size:14px;line-height:150%;text-align:left">
                                                                    {% if user_type == 'customer' %}
                                                                    <p style="margin:0 0 16px">Bonjour {{ data.invoicing_address.name }}, <br>Le paiement de votre commande a été décliné, ref&nbsp;{{ data.reference }}&nbsp;:</p>
                                                                    <br/>
                                                                    <p style="margin:0 0 16px">Vous pouvez vérifier le type de carte que vous avez saisi, les quatre derniers chiffres ainsi que la date d'expiration de celle-ci.</p>
                                                                    <br/>
                                                                    <p style="margin:0 0 16px">Si ces informations sont incorrectes, votre banque peut ne pas autoriser le paiement.</p>
                                                                    <br/>
                                                                    <p style="margin:0 0 16px">Nous vous invitons à refaire l’opération avec le même ou éventuellement un autre moyen de paiement.</p>
                                                                    {% elif user_type == 'admin' %}
                                                                    <p style="margin:0 0 16px">Vous avez reçu une commande qui a eté réfusé de {{ data.invoicing_address.name }}&nbsp;:</p>
                                                                    {% endif %}

                                                                    {% if user_type == 'customer' %}
                                                                    <p style="margin:0 0 16px">Au plaisir de vous revoir prochainement sur notre plateforme.</p>
                                                                    <br/>
                                                                    <p style="margin:0 0 16px">Nous restons à votre disposition pour toute information complémentaire.</p>
                                                                    <br/>
                                                                    <p style="margin:0 0 16px">Pour plus de détails, vous pouvez nous contacter sur :
                                                                        <a href="mailto:independancesoundlabel@gmail.com" target="_blank">independancesoundlabel@gmail.com</a>
                                                                    </p>
                                                                    {% elif user_type == 'admin' %}
                                                                    <div style="margin-bottom:40px">
                                                                        <table cellspacing="0" cellpadding="6" border="1" style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;width:100%;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif">
                                                                            <thead>
                                                                            <tr>
                                                                                <th scope="row" colspan="2" style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">{{ data.type }}</th>
                                                                                <th scope="row" colspan="2" style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">Prix</th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            {% for beat in data.beats_command %}
                                                                            <tr>
                                                                                <td scope="row" colspan="2" style="color:#636363;border:1px solid #e5e5e5;padding:12px;text-align:left;vertical-align:middle;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;word-wrap:break-word">{{ beat.media.artist }}&nbsp;-&nbsp;{{ beat.media.title }}</td>
                                                                                <td scope="row" colspan="2" style="color:#636363;border:1px solid #e5e5e5;padding:12px;text-align:left;vertical-align:middle;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif"><span>{{ beat.price }}&nbsp;<span>$</span></span></td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                            </tbody>
                                                                            <tfoot>
                                                                            <tr>
                                                                                <th scope="row" colspan="2" style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">Moyen de paiement&nbsp;:</th>
                                                                                <td style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">Carte de paiement</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th scope="row" colspan="2" style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">Total&nbsp;:</th>
                                                                                <td style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
                                                                                    <span>{{ data.total_price }}&nbsp;<span>$</span></span>
                                                                                    <small>(dont <span>{{ data.total_tva }}&nbsp;<span>$</span></span> TVA)</small>
                                                                                </td>
                                                                            </tr>
                                                                            </tfoot>
                                                                        </table>
                                                                    </div>
                                                                    <table id="addresses" cellspacing="0" cellpadding="0" border="0" style="width:100%;vertical-align:top;margin-bottom:40px;padding:0">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td valign="top" width="50%" style="text-align:left;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;border:0;padding:0">
                                                                                <h2 style="color:#ED1C24;display:block;font-size:18px;font-weight:bold;line-height:130%;margin:0 0 18px;text-align:left">Adresse de facturation</h2>
                                                                                <address style="padding:12px;color:#636363;border:1px solid #e5e5e5">
                                                                                    {{ data.invoicing_address.name }}&nbsp;{{ data.invoicing_address.lastname }}<br>
                                                                                    {{ data.invoicing_address.address }}<br>
                                                                                    {{ data.invoicing_address.city }}<br>
                                                                                    {{ data.invoicing_address.postal_code }}<br>
                                                                                    {{ data.invoicing_address.phone }}<br>
                                                                                    <a href="mailto:{{ data.invoicing_address.email }}" target="_blank">{{ data.invoicing_address.email }}</a>
                                                                                </address>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <br>
                                                                    {% endif %}
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- END CENTERED WHITE CONTAINER -->

                <!-- START FOOTER -->
                {% include "Mail/footer.html" %}
                <!-- END FOOTER -->
            </div>
        </td>
    </tr>
</table>
</body>
</html>
