<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Creative Mail</title>
    <link rel="stylesheet" type="text/css" href="EmailCss/style.css">
</head>
<body class="">
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body"
       style="background-image: url('https://www.zupimages.net/up/19/49/nk2o.png');background-size: 100%;background-position: center;background-repeat: no-repeat;width: 100%;">
    <tr>
        <td class="container">
            <div class="content">
                <!-- START CENTERED WHITE CONTAINER -->
                <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
                    <tbody>
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="600" id="template_container"
                                   style="background-color:#ffffff;border:1px solid #dedede;border-radius:3px">
                                <tbody>
                                <tr>
                                    <td align="center" valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="600"
                                               style="background-color:#ED1C24;color:#ffffff;border-bottom:0
                                               ;font-weight:bold;line-height:100%;vertical-align:middle;
                                               border-radius:3px 3px 0 0">
                                            <tbody>
                                            <tr>
                                                <td id="" style="padding:36px 48px;display:block">
                                                    <h1 style="font-size:30px;font-weight:300;line-height:150%;
                                                    margin:0;text-align:center;color:#ffffff">Vous avez reçu un Prestige</h1>
                                                    <h1 style="font-size:30px;font-weight:300;line-height:150%;
                                                    margin:0;text-align:center;color:#ffffff">ref: {{ reference }}</h1>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="600"
                                               id="template_body">
                                            <tbody>
                                            <tr>
                                                <td valign="top" id="body_content" style="background-color:#ffffff">
                                                    <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                        <tbody>
                                                        <tr>
                                                            <td valign="top" style="padding:48px 48px 32px">
                                                                <div id="body_content_inner"
                                                                     style="color:#636363;font-size:14px;line-height:150%;text-align:left">
                                                                    <p style="margin:0 0 16px">Vous avez reçu ce mail
                                                                        car vous avez reçu un prestige
                                                                        : {{ prestige }}.
                                                                    </p>

                                                                    {% if beat_title %}
                                                                    <p>De la part de {{ sender_name }}, sur votre
                                                                        beat intitulé {{ beat_title }}.</p>

                                                                    {% elif service_title %}
                                                                    <p>De la part de {{ sender_name }}, sur votre
                                                                        service intitulé {{ service_title }}.</p>
                                                                    {% endif %}
                                                                    <p style="margin:0 0 16px">Vous pouvez répondre
                                                                        personellement pour remercier votre fan avec son
                                                                        andresse
                                                                        email ci-dessous.</p>
                                                                    <br>
                                                                    <p style="margin:0 0 16px">email :
                                                                        <a href="mailto:{{ sender_email }}"
                                                                           target="_blank">{{ sender_email }}</a>
                                                                    </p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- END CENTERED WHITE CONTAINER -->

                <!-- START FOOTER -->
                {% include "Mail/footer.html" %}
                <!-- END FOOTER -->
            </div>
        </td>
    </tr>
</table>
</body>
</html>
