<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Creative Mail</title>
    <link rel="stylesheet" type="text/css" href="EmailCss/style.css">
  </head>
  <body class="">
    <span class="preheader">Isl Creative</span>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            <table role="presentation" class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p align="center">Hey there,</p>

                        <p>Following your purchase order on ISL Creative, please find attached the link for the products.</p>
                        <br/>
                        <p>We remain at your disposal would you need more information</p>
                        <br/>
                        <p>For further details, please contact us on: independancesoundlabel@gmail.com.</p>
                        <p>Kind regards!</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

            <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->

            <!-- START FOOTER -->
              {% include "Mail/footer.html" %}
            <!-- END FOOTER -->

          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>